@model ParkingLotManagament.ViewModels.PricingPlanViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PricingPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HourlyPricing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HourlyPricing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyPricing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyPricing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinimumHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinimumHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfWeekName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfWeekName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
