@model IEnumerable<ParkingLotManagament.Models.PricingPlan>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HourlyPricing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyPricing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weekend)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyPricing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyPricing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinimumHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weekend)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
